@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1565693126038'); /* IE9 */
  src: url('iconfont.eot?t=1565693126038#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJoAAsAAAAABhQAAAIcAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAocPwE2AiQDCAsGAAQgBYRtBzEbZgXILrBt2JMACywIw3TmEwgAiIevsfT93Q2iIkANqGKToq1iW8XO1+iOP1Xb6Ntay70nFDbjn1gRqpI9zB5wLqXxdbpKVchWuHbtrjGzSjqtBzyf53J6E+hA5gc619XaNNbko16AcSAFuBdGkZVQxg1jF7zAxwQaDehQzo73J1FR2KsC8da1dVEppBSFVeuF2oaDRXxXoz59TeNb9P34ZyXqSWoyu+/y6WCJdYVTl79Uv3gICGkCOl6DjDlCIW4bS+fygnF5jaWCEeJY3UFFtRoExVF9gv11dmcz6IPloMJbKUCCx5ooo27SMSK/bz1OlP9fDg+t4c/ykfIsEPw2tb33XN9UwN8UeYthEerXCQfvrg4cKIZuB1LR1EZnMgskeFcjquxYp7+p7p4T1UK9ngmROv0ZsnpjZGHnUKPJGmrVO0SjWafjTbqQvCgNmPEFENp9I2n1B1m7H7Kwv6jR6x+12iOj0X10XdhkIl7VTgl1RguMT3DNOJJuiGtx9wPar4FOeT3iX5AyNwvDhaVy9YQR0hJbsjd7xCxBUhzCETyHQRBDQrGHJvcc5mTVX3xqelPPjENRc4ogHUMWYPgEXKZYRAajWa3y+QfI9iqgow5TXfkCkYw7PRjqGQwgT/ZokOlRXsm8sY0wJgGJxELgCOahQCAGkuZ5HmRiPc6EQmKl7wyTQ+297Z3h3x2DRrYnhTMzq3sXuTgbbREAAA==') format('woff2'),
  url('iconfont.woff?t=1565693126038') format('woff'),
  url('iconfont.ttf?t=1565693126038') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1565693126038#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unie628:before {
  content: "\e50f";
}

